<section>
    <div class="p-0 ">
      <form class="space-y-4 md:space-y-6" [formGroup]="fogotForm">
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-orange-500"
            >Email</label
          >
          <input
            type="email"
            formControlName="email"
            class="bg-gray-50 border border-gray-300
             text-blue-900 
             sm:text-sm 
             rounded-lg
             block w-full p-2.5"
            placeholder="name@company.com"
            required
          />
        </div>
           
        <button
          type="submit"
          class="w-full text-white bg-orange-500 hover:bg-transparent hover:ring-4 hover:text-black hover:ring-orange-500 focus:ring-4  focus:ring-orange-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          (click)="getPassword()"
        >
          Get Password
        </button>
        
     </form>
    </div>
  </section>
  
